/* Customise the header bar */
.bar-header {
	height: 50px;
	border-top-width: 1px;
}

.has-header {
	top: 50px;
}

.bar.bar-light {
	border-color: #eee;
}

.bar-header .title {
	/*line-height: 60px;*/
	/*font-family: 'open sans';
	font-weight: 500;*/
}

.bar-subheader {
	top: 50px;
	height: 80px;
	border-top-width: 0px;
	border-bottom-color: #eee;
	/*box-shadow: 0 0px 2px rgba(0, 0, 0, 0.1);*/
}

.bar-subheader .title {
	font-family: 'Lato';
	font-weight: 300;
	text-transform: uppercase;
	-webkit-font-smoothing: auto;
	line-height: 80px;
	height: 80px;
	margin: 0 15px;
	color: #bebebe;
}

.bar-subheader .title + .buttons {
	top: 23px;
	right: 15px;
	bottom: 23px;
}

.nav-bar .button {
	min-height: 38px;
}

.woodash-content {
	background-color: #fafafa;
	color: #505050;
}

.woodash-content.has-subheader {
	top: 130px;
}

.chromeapp .woodash-content {
	/*padding: 20px;*/
}

.platform-chromeapp .bar-subheader .button-bar.woodash-button-bar-center {
	max-width: 160px;
	margin: 0 auto;
}

/*Woodash buttons*/
.bar .woodash-buttons .button {
	font-family: 'Lato';
	font-weight: 400;
	/*text-transform: uppercase;*/
	/*-webkit-font-smoothing: auto;*/
	font-size: 14px;
	padding: 0 12px;
	border-radius: 3px 0 0 3px;
}

.bar .woodash-buttons .button.icon-right:before {
	font-size: 14px;
	padding-right: 0;
	padding-left: 5px;
}

.bar .woodash-buttons .button.icon-left:before {
	font-size: 18px;
	padding-right: 5px;
	padding-left: 0;
}

.bar .woodash-buttons .button.woodash-date-range-select {
	border-color: #47d3a1;
	background-color: #47d3a1
}

.bar .woodash-buttons .button.woodash-date-range-from,
.bar .woodash-buttons .button.woodash-date-range-to {
	border-color: #e2e2e2;
	color: #888994;
}

.bar .woodash-buttons .button.woodash-date-range-from {
	margin-right: -5px;
	border-right-color: transparent;
	border-radius: 3px 0 0 3px;
}

.bar .woodash-buttons .button.woodash-date-range-to {
	border-radius: 0 3px 3px 0;
}

/* Side menu changes */
.woodash-menu.menu {
	background-color: #464646;
}

.woodash-menu .item {
	background-color: transparent;
	border-color: transparent;
	color: #9e9e9e;
	font-family: 'open sans';
	/*font-size: 15px;*/
}

.woodash-menu .item h2 {
	color: #e4e4e4;
	margin: 0;
	font-size: 14px;
}

.woodash-menu .item p {
	color: #828282;
	font-size: 12px;
}

.woodash-menu .item-content {
	background-color: transparent;
	/*padding: 14px 40px 14px 15px;*/
}

.woodash-menu .bar-header {
	background-color: transparent;
	border-color: #3c3c3c;
	padding: 0;
}

/* Styling Cards */
.woodash-content .item-avatar > img:first-child {
	padding: 12px;
	background-color: #f0f0f0;
	border-radius: 2px;
}

.woodash-chart {
	padding: 0 !important;
}

.woodash-chart a {
	display: none !important;
}

/* Content Area header/subheader */
.woodash-content-header {
	background-color: #fff;
}

.woodash-content-header .button-woodash-bottom-line {
	border-radius: 0;
	border-width: 0 0 3px 0;
	border-color: transparent;
	border-style: solid;
	background-color: transparent;
	text-transform: uppercase;

	padding: 0px 15px 0 15px;
	font-size: 12px;
	font-family: "Open Sans","Helvetica Neue",Helvetica,Arial,sans-serif;
	font-weight: 500;

}

.woodash-content-header .button-woodash-bottom-line.selected {
	border-color: #15a4fb;
}

/* Woodash User */
.woodash-user {
	position: relative;
	display: inline-block;
	padding: 0 12px 0 5px;
	/*border-left: 1px solid #3D7ADB;*/
}

.woodash-user span {

}

.woodash-user img {
	max-width: 30px;
	max-height: 30px;
	vertical-align: middle;
	border-radius: 18px;
	margin: 10px 10px;
}
/*

.woodash-menu .item-avatar > img:first-child {
	top: 0px;
	left: 0px;
	max-width: 30px;
	max-height: 30px;
	position: relative;
	float: left;
	margin-right: 15px;
}

.woodash-menu .item-avatar .icon {
	font-size: 24px;
}*/

.button.woodash-button-create {
	float: right;
	/*font-family: 'open sans';*/
	/*font-weight: 600;*/
	/*font-size: 14px;*/
}

.button.woodash-button-gear {
	float: right;
}

/*.platform-chromeapp .button.woodash-button-create:before {
	font-family: "Ionicons";
	padding-right: 4px;
	padding-left: 4px;
}*/

.platform-chromeapp .button-bar > .button {
	/*font-weight: 600;*/
}

.button.button-stable {
	color: #888;
}

.woodash-content .row {
	/*padding: 0 5px;*/
}

.platform-chromeapp .button.woodash-notification-icon:before {
	/*font-size: 24px;*/
}

.woodash-menu [item-type="item-divider"] {
	font-size: 12px;
	text-transform: uppercase;
	font-family: 'open sans';
	font-weight: 700;
	color: #9b9d9d;
}

/* Sidebar Logo */
.woodash-sidebar-logo {
	height: 26px;
	margin: 17px auto;
}

.woodash-menu .item-icon-left .icon {
	/*font-size: 25px;*/
}

.woodash-user-button {
	margin-right: 5px !important;
}

.woodash-user-button.ion-chevron-down:before {
	font-size: 12px !important;
	padding-left: 4px !important;
}

.menu-content {
	left: 68px !important;
	width: calc(100% - 68px) !important;
}

.menu-left {
	width: 220px !important;
}

.item-complex.item-icon-left .item-content {
	padding-left: 68px;
}

.item-icon-left .icon {
	left: 15px;
}



.woodash-menu.menu .item {
	border-left: 3px solid transparent;
}

.appoverview .woodash-menu.menu .overview.item {
	border-left: 3px solid #bada55;
}

/* Font-face for Lato */
@font-face {
  font-family: 'Lato';
  font-style: normal;
  font-weight: 100;
  src: local('Lato Hairline'), local('Lato-Hairline'), url('../fonts/Lato-Hairline.ttf') format('truetype');
}
@font-face {
  font-family: 'Lato';
  font-style: normal;
  font-weight: 300;
  src: local('Lato Light'), local('Lato-Light'), url('../fonts/Lato-Light.ttf') format('truetype');
}
@font-face {
  font-family: 'Lato';
  font-style: normal;
  font-weight: 400;
  src: local('Lato Regular'), local('Lato-Regular'), url('../fonts/Lato-Regular.ttf') format('truetype');
}
@font-face {
  font-family: 'Lato';
  font-style: normal;
  font-weight: 700;
  src: local('Lato Bold'), local('Lato-Bold'), url('../fonts/Lato-Bold.ttf') format('truetype');
}
@font-face {
  font-family: 'Lato';
  font-style: normal;
  font-weight: 900;
  src: local('Lato Black'), local('Lato-Black'), url('../fonts/Lato-Black.ttf') format('truetype');
}
@font-face {
  font-family: 'Lato';
  font-style: italic;
  font-weight: 100;
  src: local('Lato Hairline Italic'), local('Lato-HairlineItalic'), url('../fonts/Lato-HairlineItalic.ttf') format('truetype');
}
@font-face {
  font-family: 'Lato';
  font-style: italic;
  font-weight: 300;
  src: local('Lato Light Italic'), local('Lato-LightItalic'), url('../fonts/Lato-LightItalic.ttf') format('truetype');
}
@font-face {
  font-family: 'Lato';
  font-style: italic;
  font-weight: 400;
  src: local('Lato Italic'), local('Lato-Italic'), url('../fonts/Lato-LightItalic.ttf') format('truetype');
}
@font-face {
  font-family: 'Lato';
  font-style: italic;
  font-weight: 700;
  src: local('Lato Bold Italic'), local('Lato-BoldItalic'), url('../fonts/Lato-BoldItalic.ttf') format('truetype');
}
@font-face {
  font-family: 'Lato';
  font-style: italic;
  font-weight: 900;
  src: local('Lato Black Italic'), local('Lato-BlackItalic'), url('../fonts/Lato-BlackItalic.ttf') format('truetype');
}

a[href*="www.amcharts.com"] {
	display: none !important;
}

#chartdiv {
	width:100%;
	height:300px;
	/*background-color: #fff;*/
}

#chartdiv.col {
	/*background-color: #fff;*/
	/*margin: 20px 10px;*/
}

#overviewpie1div,
#overviewpie2div,
#overviewpie3div {
	width:100%;
	height:250px;
}

#overviewpie1div.col,
#overviewpie2div.col,
#overviewpie3div.col {
	/*background-color: #fff;*/
	/*margin: 20px 10px;*/
}

.woodash-numbers .card {
	text-align: center;
	background-color: transparent;
	margin: 0 10px;
}

.woodash-numbers-main {
	font-family: "Helvetica Neue",Helvetica,Arial,sans-serif;
	font-size: 38px;
	line-height: 38px;
	font-weight: 500;
}

.woodash-numbers-desc {
	font-family: 'Lato';
	font-weight: 400;
	text-transform: uppercase;
	margin-top: 5px;
	font-size: 12px;
}

.card {
	box-shadow: none;
	overflow: initial;
}

.item {
	border-color: #eee;
}

.no-top-border {
	border-top: none;
}

.no-bot-border {
	border-bottom: 0;
	padding-bottom: 1px;
}

.no-padding {
	padding: 0;
}

.card-title {
	border-bottom: 1px solid #eee;
	padding-bottom: 15px;
	font-family: 'Lato';
	font-weight: 400;
	text-transform: uppercase;
	margin-top: 0;
	font-size: 12px;
}

.input-group-btn {
	width: initial;
}

.woodash-buttons .form-control {
	border: 1px solid #ccc;
	padding: 6px 12px;
}

.woodash-buttons .input-group .form-control,
.woodash-buttons .form-control.woodash-date-range-to {
	width: 50%;
}

.woodash-buttons .input-group .item-input {
	display: inline-flex;
	border: 1px solid #eee;
	padding: 6px 12px;
	overflow: visible;
}

.woodash-buttons .input-group .item-input input[type="text"] {
	padding-top: 0;
}

display: block;
.woodash-buttons .form-control.woodash-date-range-to {
	border-radius: 0 3px 3px 0;
	margin-left: -1px
}

.woodash-buttons .form-control:focus,
.woodash-buttons .button:focus {
	/*border-color: #ccc;*/
	outline: none;
	-webkit-box-shadow: none;
	box-shadow: none;
}
