<ion-modal-view>
    <ion-header-bar class="bar bar-header bar-positive has-tabs-top" align-title="left">
        <h1 class="title">App Settings</h1>
        <button class="button button-clear button-primary" ng-click="modal.hide()">Close</button>
    </ion-header-bar>
    <ion-tabs class="tabs-striped tabs-top tabs-background-positive tabs-light">

<!--        <ion-tab title="General" icon-on="ion-ios7-gear" icon-off="ion-ios7-gear-outline">
            <div class="has-tabs-top settings-tab-pane">
                <div class="list">
                    <div class="item item-divider">
                        General settings
                    </div>
                    <ion-toggle ng-repeat="setting in generalSettingsList"
                                ng-model="setting.checked"
                                ng-checked="setting.checked"
                                ng-change="collapsedMenuChange(setting)" toggle-class="toggle-balanced">
                        {{ setting.text }}
                    </ion-toggle>
                </div>
            </div>
        </ion-tab>-->

        <ion-tab title="Sites" icon-on="ion-ios7-albums" icon-off="ion-ios7-albums-outline">
            <div class="has-tabs-top settings-tab-pane">
                This is about content
            </div>
        </ion-tab>

        <ion-tab title="Cloud Connect" icon-on="ion-ios7-cloud" icon-off="ion-ios7-cloud-outline">
            <div class="has-tabs-top settings-tab-pane">
                <div class="list">
                    <div class="item item-divider">
                        Connected cloud options
                    </div>
                    <ion-toggle ng-repeat="item in cloudConnectList"
                                ng-model="item.checked"
                                ng-checked="item.checked"
                                ng-change="cloudConnectChange(item)" toggle-class="toggle-balanced">
                        {{ item.text }}
                    </ion-toggle>
                </div>
            </div>
        </ion-tab>

    </ion-tabs>
</ion-modal-view>