<ion-view title="Customers" class="list-pane">
    <ion-content>
        <ion-list>
                <ion-item nav-clear ng-repeat="customer in customers.list" ui-sref="app.customers.detail({id:customer.id})" ui-sref-active="active" class="item-thumbnail-left">
                <img ng-src="{{customer.avatar_url_blob}}">
                <h2>{{customer.first_name}}</h2>
                <p>{{customer.username}}</p>
            </ion-item>
        </ion-list>
    </ion-content>
</ion-view>
<ion-nav-bar class="bar-light detail-pane" delegate-handle="detailNav">
    <ion-nav-back-button class="button-clear"><i class="icon ion-chevron-left"></i> Back</ion-nav-back-button>
</ion-nav-bar>
<ion-nav-view name="detailContent" class="detail-pane"></ion-nav-view>