<ion-pane class="list-pane">
    <ion-header-bar align-title="left" class="bar-positive bar-md">
        <div class="buttons">
            <button menu-toggle="left" class="button button-icon icon ion-navicon"></button>
        </div>
        <h1 class="title">Customers</h1>
        <div class="buttons">
            <button class="button button-icon icon ion-ios7-search-strong"></button>
        </div>
    </ion-header-bar>
    <ion-content class="list-content">
        <ion-list>
            <ion-item ng-repeat="customer in customers.list" ng-click="customers.clearHistory()" ui-sref="app.customers.detail({id:customer.id})" ui-sref-active="active" class="item-thumbnail-left">
                <div class="tile-left">
                    <img ng-src="{{customer.avatar_url_blob}}">
                </div>
                <div class="tile-right">
                    <h2>{{customer.first_name}} {{customer.last_name}}</h2>
                    <p>Last purchase: today</p>
                </div>
            </ion-item>
        </ion-list>
    </ion-content>
</ion-pane>

<ion-pane class="detail-pane">
    <ion-nav-bar class="bar-light bar-md" delegate-handle="detailNav">
        <ion-nav-back-button></ion-nav-back-button>
        <ion-nav-buttons side="secondary">
            <button class="button button-icon icon ion-ios7-star-outline" style="min-height: 54px;"></button>
            <button class="button button-icon icon ion-edit" style="min-height: 54px;"></button>
            <button class="button button-icon icon ion-ios7-information" style="min-height: 54px;" ng-click="openDrawer()"></button>
        </ion-nav-buttons>
    </ion-nav-bar>

    <ion-nav-view name="detailContent"></ion-nav-view>

    <drawer side="right">
        <ion-nav-view name="detailOrdersContent"></ion-nav-view>
    </drawer>
</ion-pane>