<ion-view title="Dashboard">
    <ion-nav-buttons side="left">
        <button menu-toggle="left" class="button button-icon icon ion-navicon"></button>
    </ion-nav-buttons>
    <ion-content class="has-header">
        <button class="button button-icon ion-compose" ng-click="modal.show()"></button>
        <button nav-clear id="revokegoogle" class="button button-positive" ng-click="revokeGoogle()">
            Google
        </button>
        <button nav-clear id="signindropbox" class="button button-positive" ng-click="loginDropbox()">
            Dropbox
        </button>
    </ion-content>
</ion-view>