<ion-view title="Dashboard">
	<ion-nav-buttons side="left">
		<button menu-toggle="left" class="button button-icon icon ion-navicon"></button>
	</ion-nav-buttons>
	<ion-content class="has-header woodash-content">
		<div class="row">
			<div class="col">
				<div class="list card">

					<div class="item item-avatar">
						<img src="img/google_fi.png">

						<h2>Google</h2>

						<p>https://www.google.com/</p>
					</div>

					<div id="chartdiv" class="item item-content woodash-chart" style="width: 100%; height: 250px;"></div>

					<div class="item tabs tabs-secondary tabs-icon-left">
						<a class="tab-item" href="#">
							<i class="icon ion-thumbsup"></i>
							Like
						</a>
						<a class="tab-item" href="#">
							<i class="icon ion-chatbox"></i>
							Comment
						</a>
						<a class="tab-item" href="#">
							<i class="icon ion-share"></i>
							Share
						</a>
					</div>

				</div>
			</div>
			<div class="col">
				<div class="list card">

					<div class="item item-avatar">
						<img src="img/elasticsearch_fi.png">

						<h2>Elastic Search</h2>

						<p>http://www.elasticsearch.org/</p>
					</div>

					<div class="item item-body">
						<p>
							This is a "Facebook" styled Card. The header is created from a Thumbnail List item,
							the content is from a card-body consisting of an image and paragraph text. The footer
							consists of tabs, icons aligned left, within the card-footer.
						</p>

						<p>
							<a href="#" class="subdued">1 Like</a>
							<a href="#" class="subdued">5 Comments</a>
						</p>
					</div>

					<div class="item tabs tabs-secondary tabs-icon-left">
						<a class="tab-item" href="#">
							<i class="icon ion-thumbsup"></i>
							Like
						</a>
						<a class="tab-item" href="#">
							<i class="icon ion-chatbox"></i>
							Comment
						</a>
						<a class="tab-item" href="#">
							<i class="icon ion-share"></i>
							Share
						</a>
					</div>

				</div>
			</div>
		</div>
	</ion-content>
</ion-view>