<ion-view title="Overview">
	<ion-nav-buttons side="left">
		<button menu-toggle="left" class="button button-icon icon ion-navicon"></button>
	</ion-nav-buttons>
	<ion-header-bar align-title="left" class="bar-subheader">
		<h1 class="title">Overview for Store Name</h1>
		<div class="buttons woodash-buttons">
			<!-- <div class="form-group"> -->
		    <div class="input-group">
		      <div class="input-group-btn">
						<button class="button btn button-balanced woodash-date-range-select" ng-model="selectedIcon" data-html="1" ng-options="icon.value as icon.label for icon in icons" bs-select></button>
		      </div>

					<label class="item-input form-control">
						<i class="icon ion-calendar placeholder-icon"></i>
						<input type="text" class="woodash-date-range-from" ng-model="fromDate" data-max-date="{{untilDate}}" placeholder="From" bs-datepicker>
					</label>
					<label class="item-input form-control">
						<i class="icon ion-calendar placeholder-icon"></i>
						<input type="text" class="woodash-date-range-to" ng-model="untilDate" data-min-date="{{fromDate}}" placeholder="Until" bs-datepicker>
					</label>

					<!--<input type="text" class="form-control woodash-date-range-from" ng-model="fromDate" data-max-date="{{untilDate}}" placeholder="From" bs-datepicker>-->
				<!--<input type="text" class="form-control woodash-date-range-to" ng-model="untilDate" data-min-date="{{fromDate}}" placeholder="Until" bs-datepicker>-->
					 <!--<input type="text" class="form-control icon-left ion-calendar woodash-date-range-to" ng-model="untilDate" data-min-date="{{fromDate}}" placeholder="Until" bs-datepicker>-->
					 <!--<label class="form-control">-->
						 <!--<span class="glyphicon glyphicon-star"></span>-->
				     <!--<i class="icon ion-search placeholder-icon"></i>-->
				     <!--<input type="text" class="form-control" placeholder="Search">-->
	  			 <!--</label>-->
					<!--<label class="item item-input">-->
    <!--<i class="icon ion-search placeholder-icon"></i>-->
    <!--<input type="text" placeholder="Search">-->
  <!--</label>-->
		    </div>
			<!-- </div> -->




  		<!-- <button class="button button-outline button-stable icon-left ion-calendar woodash-date-range-from">01/01/2014</button>
			<button class="button button-outline button-stable icon-left ion-calendar woodash-date-range-to">01/07/2014</button> -->
		</div>
	</ion-header-bar>
	<ion-content class="has-subheader woodash-content" overflow-scroll="true">
		<div class="row" style="padding-top: 0;">
			<div class="col">
				<div class="card">

					<!-- <div class="item item-avatar">
						<img src="avatar.jpg">
						<h2>Pretty Hate Machine</h2>
						<p>Nine Inch Nails</p>
					</div> -->

					<div id="chartdiv" class="item">
					</div>

				</div>
			</div>
		</div>
		<div class="row woodash-numbers">
			<div class="col">
				<div class="card">
					<div class="woodash-numbers-main">$32,000</div>
					<div class="woodash-numbers-desc">total orders ($)</div>
				</div>
			</div>
			<div class="col">
				<div class="card">
					<div class="woodash-numbers-main">$32,000</div>
					<div class="woodash-numbers-desc">total orders ($)</div>
				</div>
			</div>
			<div class="col">
				<div class="card">
					<div class="woodash-numbers-main">$32,000</div>
					<div class="woodash-numbers-desc">total orders ($)</div>
				</div>
			</div>
			<div class="col">
				<div class="card">
					<div class="woodash-numbers-main">$32,000</div>
					<div class="woodash-numbers-desc">total orders ($)</div>
				</div>
			</div>
			<div class="col">
				<div class="card">
					<div class="woodash-numbers-main">$32,000</div>
					<div class="woodash-numbers-desc">total orders ($)</div>
				</div>
			</div>
		</div>
        <div class="row">
            <div class="col">
                <div class="card">

                    <input type="text" ng-model="city" placeholder="Enter a city" />
                    <!--<div ng-sparkline ng-city="San Francisco"></div>-->
                    <div ng-sparkline ng-city="San Francisco" width='400'>
                        <h3>A custom view of the weather in San Francisco</h3>
                    </div>
                </div>
            </div>
        </div>
        <div class="row">
			<div class="col">
				<div class="card">

                    <div class="item no-bot-border">
				        <p class="card-title">Nine Inch Nails</p>
				    </div>

					<div class="item no-top-border no-padding">
						<div id="overviewpie1div"></div>
					</div>

				</div>
			</div>
			<div class="col">
				<div class="card">

					<div class="item no-bot-border">
						<p class="card-title">Nine Inch Nails</p>
					</div>

					<div class="item no-top-border no-padding">
						<div id="overviewpie2div"></div>
					</div>

				</div>
			</div>
			<div class="col">
				<div class="card">

					<div class="item no-bot-border">
						<p class="card-title">Nine Inch Nails</p>
					</div>

					<div class="item item-icon-left no-top-border">
				    Enter home address
				  </div>

				</div>
			</div>
			<!-- <div class="col">
				<div class="woodash-numbers-desc">total orders ($)</div>
				<div id="overviewpie1div"></div>
			</div> -->
			<!-- <div id="overviewpie2div" class="col"></div> -->
			<!-- <div id="overviewpie3div" class="col"></div> -->
		</div>
	</ion-content>
</ion-view>
