<ion-view title="Overview">
	<ion-nav-buttons side="left">
		<button menu-toggle="left" class="button button-icon icon ion-navicon"></button>
	</ion-nav-buttons>
	<ion-header-bar align-title="left" class="bar-subheader">
		<h1 class="title">Overview for {{app.storeDetails.name}}</h1>
		<div class="buttons woodash-buttons">
		    <div class="input-group">
                <date-range></date-range>
		    </div>
		</div>
	</ion-header-bar>
	<ion-content class="has-subheader woodash-content" overflow-scroll="true">
		<div class="row">
			<div class="col">
				<div class="card">
                    <div class="item no-bot-border">
                        <p class="card-title">Orders by Status</p>
                    </div>
                    <a ng-href='#here' ng-click='go()' >go data</a>
                    <a ng-href='#here' ng-click='add()' >add data</a>
                    <a ng-href='#herea' ng-click='edit()' >edit data</a>
                    <orders-chart id="chartdiv" class="item no-top-border no-padding" ng-model="dateRangeOptions"></orders-chart>
				</div>
			</div>
		</div>
        <value-cards ng-model="dateRangeOptions"></value-cards>
        <div class="row">
			<div class="col">
				<div class="card">

					<div class="item no-bot-border">
						<p class="card-title">Best Selling Products</p>
					</div>

					<div class="item no-top-border no-padding">
                        <best-selling-products id="bestsellingproducts" class="item" ng-model="dateRangeOptions"></best-selling-products>
					</div>

				</div>
			</div>
			<div class="col">
				<div class="card">

					<div class="item no-bot-border">
						<p class="card-title">Latest Purchases</p>
					</div>

					<div class="item no-top-border no-padding">
                        <latest-purchases id="latestpurchases" class="item" ng-model="dateRangeOptions"></latest-purchases>
                    </div>
				</div>
			</div>
		</div>
	</ion-content>
</ion-view>