<ion-view>
	<ion-nav-buttons side="left">
		<button menu-toggle="left" class="button button-icon icon ion-navicon"></button>
	</ion-nav-buttons>
	<ion-header-bar align-title="left" class="bar-subheader">
		<h1 class="title">Overview for Store Name</h1>
		<div class="buttons woodash-buttons">
			<button class="button button-balanced icon-right ion-chevron-down woodash-date-range-select">Custom range</button>
  		<button class="button button-outline button-stable icon-left ion-calendar woodash-date-range-from">01/01/2014</button>
			<button class="button button-outline button-stable icon-left ion-calendar woodash-date-range-to">01/07/2014</button>
		</div>
	</ion-header-bar>
	<ion-content class="has-subheader woodash-content">
		<div id="chartdiv"></div>
		<div class="row" style="background-color:#f2f2f2;">
			<div class="col woodash-numbers">
				<div class="woodash-numbers-main">$32,000</div>
				<div class="woodash-numbers-desc">total orders ($)</div>
			</div>
			<div class="col woodash-numbers">
				<div class="woodash-numbers-main">$32,000</div>
				<div class="woodash-numbers-desc">total orders ($)</div>
			</div>
			<div class="col woodash-numbers">
				<div class="woodash-numbers-main">$32,000</div>
				<div class="woodash-numbers-desc">total orders ($)</div>
			</div>
			<div class="col woodash-numbers">
				<div class="woodash-numbers-main">$32,000</div>
				<div class="woodash-numbers-desc">total orders ($)</div>
			</div>
			<div class="col woodash-numbers">
				<div class="woodash-numbers-main">$32,000</div>
				<div class="woodash-numbers-desc">total orders ($)</div>
			</div>
		</div>
		<div class="row">
			<div class="col">
				<div id="overviewpiediv"></div>
			</div>
			<div class="col">
				<div id="overviewpie2div"></div>
			</div>
			<div class="col">
				<div id="overviewpie3div"></div>
			</div>
		</div>
	</ion-content>
</ion-view>
