<ion-side-menus>
    <ion-side-menu-content drag-content="false">
        <ion-nav-bar class="bar-light" delegate-handle="appNav">
            <ion-nav-back-button class="button-clear"><i class="icon ion-chevron-left"></i> Back</ion-nav-back-button>
            <ion-nav-buttons side="right">
                <!--<button class="button button-icon icon ion-ios7-bell-outline woodash-notification-icon"></button>-->
                <!--<button class="button button-icon icon ion-ios7-bell"></button>-->
                <!--<button class="button button-icon icon ion-person"></button>-->
                <!--<button class="button button-icon icon ion-ios7-bell-outline woodash-notification-icon"></button>-->
            </ion-nav-buttons>
        </ion-nav-bar>
        <ion-nav-view name="menuContent" animation="slide-left-right"></ion-nav-view>
    </ion-side-menu-content>

    <ion-side-menu side="left" width="152" class="woodash-menu">
        <ion-header-bar>
            <ion-item nav-clear class="item-icon-left" menu-close href="#">
                <i class="icon ion-stop"></i>
                Site Name
                <i class="icon ion-ios7-telephone-outline icon-right"></i>
            </ion-item>
        </ion-header-bar>
        <ion-content overflow-scroll="true">
            <ion-list>
                <div class="item item-divider menu-list-divider menu-list-divider-top"></div>
                <ion-item nav-clear class="item-icon-left overview" menu-close href="#/app/overview">
                    <i class="icon ion-stats-bars"></i>
                    Overview
                </ion-item>
                <ion-item nav-clear class="item-icon-left" menu-close href="#/app/customers">
                    <i class="icon ion-ios7-people"></i>
                    Customers
                </ion-item>
                <ion-item nav-clear class="item-icon-left" menu-close href="#/app/products">
                    Products
                    <i class="icon ion-ios7-cart"></i>
                </ion-item>
                <ion-item nav-clear class="item-icon-left col-bottom" menu-close href="#/app/orders">
                    Orders
                    <i class="icon ion-ios7-copy"></i>
                </ion-item>
                <div class="item item-divider menu-list-divider"></div>
                <ion-item nav-clear class="item-icon-left col-bottom" menu-close href="#/app/profile">
                    User Name
                    <i class="icon ion-person"></i>
                </ion-item>
            </ion-list>
<!--            <ion-list class="menu-list-bottom">
                <ion-item nav-clear class="item-icon-left col-bottom" menu-close href="#/app/profile">
                    User Name
                    <i class="icon ion-person"></i>
                </ion-item>
            </ion-list>-->
        </ion-content>

        <ion-footer-bar>
            <div class="item item-button-left">
                More
                <button class="button button-clear button-positive" ng-click="modal.show()">
                    <i class="icon ion-more"></i>
                </button>
            </div>
            <!--<ion-item nav-clear class="item-icon-left" menu-close ng-click="popover.show($event)">-->

                <!--<i class="icon ion-more"></i> &lt;!&ndash; todo: this should be app icon &ndash;&gt;-->
                <!--More-->
            <!--</ion-item>-->
        </ion-footer-bar>
    </ion-side-menu>
</ion-side-menus>