<ion-side-menus>

    <ion-side-menu-content drag-content="false">
        <ion-nav-bar class="bar-light" ng-class="{ 'list-pane-header': detailView.display }" delegate-handle="appNav">
            <ion-nav-back-button class="button-clear"><i class="icon ion-chevron-left"></i> Back</ion-nav-back-button>
            <button menu-toggle="left" class="button button-icon ion-navicon"></button>
            <ion-nav-buttons side="right">
            </ion-nav-buttons>
        </ion-nav-bar>
        <ion-nav-view name="menuContent"></ion-nav-view>
    </ion-side-menu-content>

    <ion-side-menu class="woodash-menu" width="182" side="left">
        <ion-header-bar ng-if="siteConnectList.connected">
            <button class="button button-clear button-positive button-icon icon ion-stop"></button>
            <h1 class="title">{{app.siteName}}</h1>
            <button class="button button-clear button-positive button-icon icon ion-ios7-gear" ng-click="app.wcStoreSettingsModal.show()"></button>
        </ion-header-bar>
        <ion-content overflow-scroll="true" ng-if="siteConnectList.connected" class="has-header">
            <ion-list>
                <div class="item item-divider menu-list-divider menu-list-divider-top"></div>
                <ion-item nav-clear class="item-icon-left overview" menu-close href="#/app/overview">
                    <i class="icon ion-stats-bars"></i>
                    Overview
                </ion-item>
                <ion-item nav-clear class="item-icon-left" menu-close ui-sref="app.customers.detail">
                    <i class="icon ion-ios7-people"></i>
                    Customers
                </ion-item>
                <ion-item nav-clear class="item-icon-left" menu-close ui-sref="app.products" ui-sref-active="active">
                    Products
                    <i class="icon ion-ios7-cart"></i>
                </ion-item>
                <ion-item nav-clear class="item-icon-left col-bottom" menu-close ui-sref="app.orders" ui-sref-active="active">
                    Orders
                    <i class="icon ion-ios7-copy"></i>
                </ion-item>
                <div class="item item-divider menu-list-divider"></div>
                <ion-item nav-clear class="item-icon-left col-bottom" menu-close href="#/app/profile">
                    User Name
                    <i class="icon ion-person"></i>
                </ion-item>
            </ion-list>
        </ion-content>
        <ion-footer-bar>
            <div class="item item-button-left">
                More
                <button class="button button-clear button-positive" ng-click="app.settingsModal.show()">
                    <i class="icon ion-more"></i>
                </button>
            </div>
        </ion-footer-bar>
    </ion-side-menu>

</ion-side-menus>